CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.jpg
Makefile
moc_*.cxx
.openlayers-wms
openlayers-wms
.openlayers-wms.fcgi
openlayers-wms.fcgi
*.png
*.pyc
*.swp
doc/html
doc/latex

Doxyfile.user.bak
install_manifest.txt
